# Virtual environment
venv/
env/

# Logs
logs/
*.log

# Backtest results
backtest_results/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# Operating System Files
.DS_Store
Thumbs.db

