logs/
.env
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyz
*.pyz.zip
*.pyz.tar
*.pyz.gz
*.pyz.bz2
*.pyz.rar
*.pyz.7z
*.pyz.xz
*.pyz.wim
*.pyz.iso
*.pyz.vhd
*.pyz.vhdx
*.pyz.vdi
*.pyz.vmdk
*.pyz.vhd
*.pyz.vhdx
*.pyz.vdi
*.pyz.vmdk
*.pyz.vhd
*.pyz.vhdx
*.pyz.vdi
*.pyz.vmdk
plots/
backtest_results/
.DS_Store
models/
